FIREBASE_API_KEY=AIzaSyBXBbEt_OEwOuHtiM3ERDcLwUZpXyNVtzM
FIREBASE_AUTH_DOMAIN=login-59720.firebaseapp.com
FIREBASE_PROJECT_ID=login-59720
FIREBASE_STORAGE_BUCKET=login-59720.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=598332882697
FIREBASE_APP_ID=1:598332882697:web:6f675adebeb816e64dddd8
FIREBASE_MEASUREMENT_ID=G-36F4WTT681
